.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  background: white;
  padding: 40px 20px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal__btns {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 15px;
}

.confirm_btn {
  margin-right: 10px;
  background-color: transparent;
  color: #292929;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
}

.cancel_btn {
  background-color: transparent;
  color: #292929;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
}

.cancel_btn:hover,
.confirm_btn:hover {
  background-color: #292929;
  color: #fff;
}
